/* variables */
:root {
  --main-color: #10CAB7;
  --dark-main: #2C4755;
  --secondary-color: #F6F6F6;
  --gray-color: #777;
  --heading-color: #e7e7e7;
  --section-color: #f3f3f3;
}

/* End variables */

/* global rules */

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #fff;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-heading {
  padding:0px;
  text-align: center;
}
.main-heading h1{
  font-size:100px;
  font-weight: 700;
  color: var(--heading-color);
  margin:0px;
  letter-spacing:-6px;
}
.main-heading p{
  color: #777;
  font-size:20px;
  margin: -40px 0 35px;
}
@media (max-width: 767px) {
.main-heading h1{
    font-size:60px;
}
.main-heading  p{
  margin: -12px 0 0px ;
}

}

/* End global rules*/


/* header */
.header {
  padding: 10px;
  position:-webkit-sticky;
  z-index: 5555;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgb(255 255 255 / 30%);
  box-shadow: 0px 3px 5px #4444444a;
}

.header .logo img{
  width: 75px;
  }

nav {
  position: absolute;
  right: -10px;
  top: 54px;
  background-color: var(--dark-main);
  width: 200px;
  height: 250px;
  z-index: 220;
  display: none;
  }

nav::before {
    content: "";
    position: absolute;
    border-color: transparent transparent var(--dark-main) transparent;
    border-width:15px;
    border-style: solid;
    width: 0px;
    top:-75px;
    right:25px;
    height: 45px;
  }

.header ul li a {
    display: flex;
    margin-top: 25px;
    color: #fff;
    justify-content: left;
    margin-left: 15px;
}

.header ul li a:hover{
    color: var(--main-color);
    transform: translateX(10px);
}

.menu-icon {
    display: block;
    width: 30px;
}

.menu-icon span{
  display: flex;
  position: relative;
  background-color: black;
  margin-bottom: 6px;
  height: 2px;
}

.menu-icon span:nth-child(2){
  width: 20px;
  transform: translateX(10px);
  
}

.links:hover span:nth-child(2) {
  width:100%;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.links:hover nav {
  display: block;
}
/* End header */

/* landing */
  .landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
  }

  .intro {
    width: 302px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  .intro p {
    font-size: 19px;
    line-height: 1.8;
  }
  .landing-title {
    color: var(--main-color);
    margin-bottom: 15px;
    font-size: 45px;
    max-width: 100%;
  }

/* End landing */

/* feature */
  .feature {
    background-color: var(--secondary-color);
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .feature .container {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .box {
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  .box:hover {
    box-shadow: 0px 1px 12px #77777730;
  }

  .box i {
    margin-top: 25px;
    color: var(--main-color);
  }

  .box .title {
    margin:35px auto;
    font-size: 18px;
    font-weight: 800;
  }

  .box p {
    line-height: 1.8;
    color: var(--gray-color);
  }
/* End feature */

/* start Services */
.services{
    padding-top:30px;
    padding-bottom:50px;
}
.serv-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
  }
.serv-box {
    display: flex;
    position: relative;
    margin-bottom: 40px;
  	margin-left: 58px;
}
@media (max-width: 768px) {
  .serv-box {
    margin: 26px 0px 65px;
  }
  .serv-box h3 {
    text-align: center;
  }
  .serv-box p {
    text-align: center;
  }
}

.serv-box i {
  position: absolute;
  left: -60px;
  top: 0px;
  color:var(--main-color)
}
@media (max-width:768px) {
  .serv-box i {
    left: auto;
    top: -50px;
  }
}
.serv-info h3{
    margin:0 0 20px;
}
.serv-info p {
  font-weight:400;
  line-height: 1.6;
  color:var(--gray-color);
}
.serv-img {
  text-align: center;
  position: relative;
}

.serv-img::before {
    content: "";
    background-color: var(--dark-main);
    width: 100px;
    height: 380px;
    position: absolute;
    right: 22px;
    top: -25px;
    display: block;
    z-index: -1;
}

.serv-img img {
  width: 250px;
}
.col-2 {
  margin-top: -30px;
}
@media (max-width:768px) {
  .col-2{
    margin-top: -35px;
  }
}
/* End Services */


/* portfolio */

.portfolio {
    background-color: var(--section-color);
    padding-top:30px;
    padding-bottom:30px;
}

.card-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card {
    background-color: white;
    height: 100%;
}
.card:hover {
  border-bottom: 2px solid var(--main-color);
  transition: none;
}

.card img {
    max-width: 100%;
}

.card img:hover {
  filter: grayscale(2);
}

.card h3 {
    font-weight: bold;
    padding: 10px 15px;
}

.card p {
    color: var(--gray-color);
    padding-bottom: 25px;
    padding-left: 15px;
}

/* End portfolio */

/* about */
  .about{
    padding-top:30px;
    padding-bottom:30px;
}

.about-con {
  display: flex;
  gap: 150px;
}

@media (max-width:768px) {
.about-con {
    flex-direction: column;
  }
  
}

.about-con .img {
  height: 100%;
}

.about-con .img img {
  width: 250px;
}
@media (max-width:768px) {
.about-con .img img {
    margin:30px 0px 0px;
  }
  
}

.about-con .img::before {
  content: "";
  background-color: var(--heading-color);
  width: 109px;
  height: 450px;
  position: absolute;
  bottom: -26px;
  left: -5px;
  display: block;
  z-index: -1;
}

.about-con .img::after {
  content: "";
  border-left: 70px solid var(--main-color);
  border-bottom: 70px solid var(--main-color);
  width: 94px;
  height: 260px;
  position: absolute;
  bottom: 79px;
  left: 212px;
  display: block;
  z-index: -1;
}

@media (max-width:768px) {
  .about-con .img::after , .about-con .img::before {
    display: none;
  }
  .about-con {
    gap: 30px;
  }
}

.about-info {
  padding: 45px;
}

@media (max-width:768px) {
  .about-info {
    padding: 0px;
  }
  
}

.about-info h3{
  font-weight: 700;
  line-height: 1.8;
  font-size: 18px;
  padding-bottom: 25px;
}

.about-info p {
  line-height: 1.8;
  padding-top: 25px;
  color: var(--gray-color);
}

@media (max-width:768px) {
  .about-info h3 {
  padding: 0px 15px 25px;
  text-align: center;
  }
  .about-info p {
   padding: 25px 15px 0px;
   text-align: center;
  }
}

.about-info hr {
  border: 1px solid var(--main-color);
  background-color:var(--main-color);
  width: 300px;
}

@media (max-width:768px) {
  .about-info hr {
   padding: 0px 0px 0px 40px;
   Width: 150px;
   }
}
/* End about */

/* Contact*/

  .Contact {
    padding-top:30px;
    padding-bottom:30px;
    background-color: var(--section-color);
  }

  .cont-info {
    text-align: center;
    padding: 70px 15px;
}

  .cont-info .mail a {
    color: var(--main-color);
    font-weight: bolder;
    font-size:40px;
}
  
  .cont-info h1 {
    color: var(--dark-main);
    font-weight: 700;
    font-size:40px;
    margin: 12px 0;
    letter-spacing: -2.5px;
  }
  @media (max-width:768px) {
    .cont-info h1{
      font-size: 25px ;
    }
    .cont-info .mail a{
      font-size: 25px ;
    }
}
  

  .social {
    display: flex;
    gap: 10px;
    padding: 25px 0;
  }
  .social i {
    color: var(--dark-main);
    font-size: 22px;
  }

  .social i:hover {
    color: var(--main-color);
  }

/* End Contact */

/* footer */

.footer {
  background-color: var(--dark-main);
  bottom: 0;
  height: 70px;
}

.footer .rights {
  text-align: center;
  color: var(--secondary-color);
  padding: 25px 0 0px;
  font-size: 18px;
}
.leon {
  color: var(--main-color);
  font-weight: bold;
}

/* End footer */



/* Media Queries */

/* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  
}

/* medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Media Queries */
